//
// This file contains all @font-face declarations.
/// @require {function} font-url - Font asset helper
//

// $fonts: "";
$fonts: "NotoSans-Bold",
"NotoSans-Condensed",
"NotoSans-ExtraLight",
"NotoSans-Light",
"NotoSans-Regular",
"NotoSans-Thin",
"NotoSans-Medium",
"NotoSansDisplay-ExtraBold",
"PlayfairDisplay-Italic",
"PlayfairDisplay-Black",
"PlayfairDisplay-Regular",
"PlayfairDisplay-Bold",
"HelveticaNeueLTGEOW82-65Md",
"HelveticaNeueLTGEOW82-55Rm",
"HelveticaNeueLTGEOW82-45Lt",
"HelveticaNeueLTGEOW82-25UltLt",
"HelveticaNeueLTGEOW82-35Th",
"HelveticaNeueLTGEOW82-75Bd",
"HelveticaNeueLTGEOW82-45Lt-Regular";

@each $font in $fonts {
  @if($font !='') {
    @font-face {
      font-family: $font;
      src: font-url('#{$font}.eot') format('embedded-opentype'),
      font-url('#{$font}.woff2') format('woff2'),
      font-url('#{$font}.woff') format('woff'),
      font-url('#{$font}.ttf') format('truetype'),
      font-url('#{$font}.svg##{$font}') format('svg');
    }
  }
}
