.box-shadow {
  -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  -moz-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.loader {
  position: fixed;
  left: calc(50% + 275px / 2);
  top: 50%;

  &:before {
    content: '';
    position: fixed;
    left: 275px;
    top: 70px;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.5;
  }
}
