:root {
    --text-shadow: 0 1px 1px rgba(0,0,0,.3);
    --base-border-radius: 50%;
    --base-spacing-unit: 2rem;
    --base-font-family: 'Arial';
    --base-font-size: 1.6em;
    --base-line-height: 1.4;
}