:root {
  --top-header: 15.3rem;
  --bottom-header: 12rem;
  --i-space: 1rem;
  --i-v-space: 1.5rem;
  --ii-space: 2rem;
  --ii-v-space: 2.5rem;
  --iii-space: 3rem;
  --iii-iv-space: 3.5rem;
  --iv-space: 4rem;
  --v-space: 5rem;
  --v-iii-space: 5.3rem;
  --v-v-space: 5.5rem;
  --v-vi-space: 5.6rem;
  --vi-space: 6rem;
  --vii-space: 7rem;
  --viii-space: 8rem;
  --xii-space: 12rem;
  --xv-space: 15rem;
  --x-space: 10rem;
  --x-xii-space: 11.2rem;
  --xiii-vii-space: 13.7rem;
  --xv-ix-space: 16.9rem;
  --xx-space: 20rem;
  --xxx-v-space: 35rem;

  --left-padding: 5rem;
  --right-padding: 7rem;
}
