//
// Colors variables map
/// @group infinite-map
/// @access public
/// @see {Function} color - helper function to get color value
/// @example background-color: color(brand,dark) @return {Color} // #652d90
/// @example color: color(default) @return {Color} // #fff
//



$colors-map: (
  text: (
    primary: var(--primary-text-color),
    third: var(--third-text-color),
  ),
  background: (
    primary: var(--primary-bg-color),
    secondary: var(--secondary-bg-color),
    third: var(--third-bg-color),
  )
);


$color-base-background: var(--base-background-color);
$color-base-text: var(--base-text-color);
