.background {
    &--size {
        &--cover {
            background-size: cover;
        }
    }
    &--position  {
        &--center {
            background-position: center center;
        }
    }
}
