
.opacity {
    &--i {
        opacity: 0.1
    }
    &--ii {
        opacity: 0.2
    }
    &--iii {
        opacity: 0.3
    }
    &--iv {
        opacity: 0.4
    }
    &--v {
        opacity: 0.5
    }
    &--vi {
        opacity: 0.6
    }
    &--vii {
        opacity: 0.7
    }
    &--viii {
        opacity: 0.8
    }
    &--ix {
        opacity: 0.9
    }
    &--iii {
        opacity: 1
    }    
    &--x {
        opacity: 1
    }
}